{% extends 'base.html' %}
{% load static %}
{% block title %}
    Employer Register
{% endblock %}

{% block content %}

    <div class="container d-flex flex-column">
        <div class="row  justify-content-between no-gutters min-vh-100">
          <div class="col-12 col-md-6 align-self-stretch d-none d-md-block ">
            <div class="vw-50 h-100 float-right bg-cover" style="background-image: url({% static 'img/featured1.jpg' %});"></div>
          </div>
          <div class="col-12 col-md-5  py-1">
                <div >
            <h3 class="heading mt-6">Register</h3>
            <p class="text-center text-muted">Register As Employer</p>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}

                        <div class="form-group">
                            <label for="id_{{ field.name }}">{{ field.label }}</label>
                            <input type="{{ field.field.widget.input_type }}"
                                   class="form-control"
                                   name="{{ field.name }}"
                                   id="id_{{ field.name }}"
                                   placeholder="{{ field.field.widget.attrs.placeholder }}">
                        </div>

                {% endfor %}
                <div class="text-center mb-2">
                    <button type="submit" class="btn btn-outline-white-primary"><i class="fa fa-sign-in"></i> Register
                    </button>
                </div>
            </form>
        </div>
          </div>
        </div> <!-- / .row -->
      </div>

{% endblock %}