{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
    Post a Job
{% endblock %}


{% load static %}

<script type="text/javascript" src="{% static 'admin/js/vendor/select2/i18n' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>

{{ form.media }}

<link rel="stylesheet" type="text/css" href="{%static 'admin/css/base.css'%}"/>
<link rel="stylesheet" type="text/css" href="{%static 'admin/css/widgets.css'%}"/>

{% block content %}

    <div class="container d-flex flex-column">
        <div class="row  justify-content-between no-gutters min-vh-100">
          {%comment%}<div class="col-12 col-md-6 align-self-stretch d-none d-md-block ">
            <div class="vw-50 h-100 float-right bg-cover" style="background-image: url({% static 'img/featured1.jpg' %});"></div>
          </div>{%endcomment%}
          <div class="col-12 col-md-5  py-1">
                <div >
            <h3 class="heading mt-6 mb-0">Post a Job</h3>
            <p class="text-center text-muted mb-3">Please enter all the required info for the job</p>
            {%comment%}{% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}{%endcomment%}
            <form action="" method="post" class="mt-8">
                {% csrf_token %}
                {{form|crispy}}
                {%comment%}{% for field in form %}

                        <div class="form-group">
                            <label for="id_{{ field.name }}">{{ field.label }}</label>
                            <input type="{{ field.field.widget.input_type }}"
                                   class="form-control"
                                   name="{{ field.name }}"
                                   id="id_{{ field.name }}"
                                   placeholder="{{ field.field.widget.attrs.placeholder }}">
                        </div>

                {% endfor %}{%endcomment%}
                <div class="text-center mb-2">
                    <button type="submit" class="btn btn-outline-white-primary"><i class="fa fa-sign-in"></i> Submit
                    </button>
                </div>
            </form>
        </div>
          </div>
        </div> <!-- / .row -->
      </div>

{% endblock %}